# 基準モデルの作成

In [197]:
train_data = pd.read_csv(FILE_PATH + 'train.csv').rename(columns={'顧客ID':'uuid', 'クーポンID':'coupon_id', 'クーポン利用':'coupon_use'})
test_data = pd.read_csv(FILE_PATH + 'test.csv').rename(columns={'顧客ID':'uuid', 'クーポンID':'coupon_id'})

display(train_data)
display(test_data)

      uuid  coupon_id  coupon_use
0        1          1           0
1        1          2           0
2        1          3           0
3        1          4           0
4        1          5           0
...    ...        ...         ...
3911   356          7           0
3912   356          8           0
3913   356          9           0
3914   356         10           0
3915   356         11           0

[3916 rows x 3 columns]

      uuid  coupon_id
0      357          1
1      357          2
2      357          3
3      357          4
4      357          5
...    ...        ...
3911   712          7
3912   712          8
3913   712          9
3914   712         10
3915   712         11

[3916 rows x 2 columns]